.MessageBox {

    display: flex;
    flex-direction: column;
    margin: 5% 15%;
}

.MessageBox .message {
    color: black;
    font-size: 20pt;
    margin-bottom: 15px;
}

.MessageBox button {
    border-radius: 100px;

    height: 50px;

    border-style: solid;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 16pt;
}

.MessageBox button:hover {
    cursor: pointer;
}
