.Main {
    padding-top: 30px;


}

.Main  {



    
    font-size: 16pt;
}

.Main .addProduct:hover {
    cursor: pointer;

}

.Main .mainGrid {
    margin-right: 100px;

    padding: 30px;
    row-gap: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.addProduct {
    border-radius: 100px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: transparent;
    padding: 10px;
    outline: none;
    margin-bottom: 40px;
    
}

